{% extends 'base.html' %}
{% block content %}

  
  <br></br>
  <br></br>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <img class="Playing_picture" src="/static/People/travel6.jpg" alt="About Picture" width="330" height="340"/>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <img class="Playing_picture" src="/static/People/map1.jpg" alt="About Picture" width="330" height="340"/>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <img class="Playing_picture" src="/static/People/beachview.jpg" alt="About Picture" width="330" height="340"/>
          </div>
        </div>
      </div>
      
    </div>
    <div class="page-header" >
      <h1 id="PageHeader">Using the Site</h1>
    </div>
    
    <div class="well">
    <h3>How do I sign up?</h3>
      <ol>
       <li>Click 'join' at the top right of the page.</li>
       <li>Add your email address and password.</li> 
       <li>Click 'join'.</li>
       <li>You will be redirected to the homepage.</li>
       <li>Enjoy!</li>
      </ol>
  


     <h3>How do I login?</h3>
       <ol>
        <li>Click the 'login' button at the top right of the page.</li>
        <li>Fill in your email address and password.</li> 
        <li>Click 'sign in'.</li>
        <li>Enjoy!</li>
       </ol> 

     <h3>How do I edit a page?</h3>
       <ol>
        <li>You may only edit a page if you are already logged into your account.</li>
        <li>Click the edit button that is next to the page header.</li>
        <li>Click save when you are done.</li>
        <li>You can change and edit the text to make headers and lists etc. You can either do this through markup or you can use the editing bar at the top of the textbox</li>
       </ol>

      <h3>How do I use markup?</h3>
       <ol>
       <li>Here are some useful shortcuts for markdown</li>
        <li># H1</li>
        <li>## H2</li>
        <li>### H3</li>
        <li>#### H4</li>
        <li>##### H5</li>
        <li>###### H6</li>
        <li>** text ** to bold text</li>
        <li>* to create an unordered list</li>
        <li>You can find more information on markdown <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Here</a></li>
       </ol>


     <h3>How do I create a new page?</h3>
       <ol> 
        <li>You may only create a page if you are logged in (either as a Guest or into your own account).</li>
        <li>Click on the 'All' tab at the top left of the page</li>
        <li>Choose the country that you want to add a page for from the dropdown list</li>
        <li>Click 'add page'</li>
       </ol>

<h3>What are the terms and conditions of using this site?</h3>
<h4>By using our website you agree to the following Terms:</h4><br>
<p><h5>Part of our mission is to:</h5><br>
Empower and Engage people around the world to collect and develop educational content and either publish it under a free license or dedicate it to the public domain.<br>
Disseminate this content effectively and globally, free of charge.<br><br>

<h5>You are free to:</h5><br>
Read and Print our articles and other media free of charge.<br>
Share and Reuse our articles and other media under free and open licenses.<br>
Contribute To and Edit our various sites or Projects.<br><br>

<h5>Under the following conditions:</h5><br>

<dl id="ethics" class="ethics">
  <dt><b>Responsibility</b></dt>
      <dd>You take responsibility for your edits (since we only host your content).You are legally responsible for your edits and contributions on Wikimedia Projects, so for your own protection you should exercise caution and avoid contributing any content that may result in criminal or civil liability under any applicable laws.</dd>

  <dt><b>Civility </b></dt>
      <dd>You support a civil environment and do not harass other users.</dd>
    
  <dt><b>Lawful Behavior </b></dt>
      <dd>You do not violate copyright or other laws.</dd>
    
  <dt><b>No Harm </b></dt>
      <dd>You do not harm our technology infrastructure.</dd>
    
  <dt><b>No fraud</b></dt>
      <dd>You shall not intentionally or knowingly post content that constitutes libel or defamation. You will also not attempt to impersonate another user or individual, misrepresent your affiliation with any individual or entity, or use the username of another user with the intent to deceive.</dd>
</dl>
    </div>
  </div>

{% endblock %}